*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(10, 10, 39, 0.675);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}
body{
    background-color:rgba(10, 10, 39, 0.675) ;
}
ul{
    background-color:black;
    height:10vh;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    list-style-type: none;
}
.dropdown{
    float: right;
}
li a, .dropbtn{
    display: inline-block;
    color: white;
    text-align: center;
    padding:25px 10px;
    text-decoration: none;
    background-color: black;
}
li a:hover, .dropdown:hover  {
    background-color: white;
    color: black;
  }
  li.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    background-color: white;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown-content a:hover {background-color:rgb(83, 83, 130);}

.dropdown:hover .dropdown-content {
  display: block;
}